.wrapper{
  min-height: 80vh;
}


.left{
	min-width: 40rem;
  max-width: 40%;
	float: left;
	border-right: grey 1px solid;
}

.preview{
	max-width: 55%;
	float: left;
	margin-left: 2rem;
	min-height: 80vh;
}

#pdfcontent{
  display: none;
}

#DownloadFileasExcel{
  display: none;
}

section{
	transition:all linear 0.15s;
	display: none;
}

.active{
	display: inherit;
}

h1{
	font-size: 3rem;
	color: green;
	border-bottom: 1px solid green;
	float: left;
}

h2{
	font-size: 2rem;
	color: #008dd3;
	clear: both;
	margin-top: 1rem;
	margin-bottom: 1rem;	
}

.boxlabel{
	float: left;
	margin-right: 2rem;
}

input[type="checkbox"] {
	float: left;
	margin-right: 1rem;
	margin-left: 0rem;
}

input[type="text"]{
	margin-left: 0rem;
	width: 22.6rem;
    height: 3.5rem;
}

.order{
	clear: both;
	padding-top: 1rem;
}

h3{
	margin-top: 1rem;
	clear: both;
}

select{
	margin-left: 0rem;
	margin-right: 2rem;
	margin-bottom: 1rem;
}

input[type="submit"], button[type="submit"]{
	float: left;
	margin-top: 1rem;
	margin-bottom: 3rem;
	clear: both;
}




.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    margin-bottom: 3rem;
    width: 95%;
    background:#f7f7f7;
}

a img{
	width: 20px;
    height: 20px;
    border: 0;
    position: relative;
    margin-left: -1rem;
    margin-bottom: -0.5rem;
    margin-right: 2rem;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#333;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
}
 
.accordion-section-title.active, .accordion-section-title:hover {
    background:#4c4c4c;
    /* Type */
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}


/* =============== table =============== */

#exportTable {
margin: 1em 0;
width: 100%;
overflow: hidden;  
background: #FFF;
color: #024457;
 } 
#exportTable tr {
    border:  1px solid #D9E4E6; 
}


#exportTable tr:nth-child(odd){
    background-color:  #EAF3F3;
}
  
#exportTable th {
    border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
    padding: 1em;  
}

input[type="submit"]{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#exportTable th :first-child {
    display: table-cell;
    text-align: center;
}

#exportTable th:nth-child(2) {
    display: table-cell;
    
}

#exportTable span {display:none;}

  
#exportTable td {
    word-wrap: break-word;
    text-align:center;
    vertical-align:middle;
    padding:0.5rem;
    }

#exportTable tbody tr img{
    width:5rem;
    height:5rem;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -o-border-radius: 150px;
    -moz-border-radius: 150px;
    margin-top:0.5rem;
}

#exportTable td:first-child {
    display: table-cell; 
    text-align: center;
    border-right: 1px solid #D9E4E6;
}
  
#exportTable th, td {
    text-align: center;
    margin: .5em 1em;  
    }


  #exportTable .find{
      font-size : 1rem;
      padding-top:0rem;
      padding-bottom: 0rem;
      margin-top:0.5rem;
      margin-bottom:0.5rem;
      text-transform: none;
      vertical-align:middle;
  }



  
  
.Departamentohidden, .Ciudadhidden, .Paishidden, .displaynone, .Seccionhidden, .gradohidden, .Turnohidden, .Escuelahidden{
  display: none;
}
  
.label{
  margin-top: 1rem;
  margin-bottom: 1rem;
}