/*
Global CSS
@author nicolas legrand ( nicolas.legrand@student.odisee.be )
 */

/* =============== GENERAL =============== */

/* Rem ref */

html {
    font-size: 10px;
    margin:0;
}

/* Font Settings */

body {
    font-size: 1.5rem;  margin:0;
}

body * {
    font-family: 'Open Sans',Helvetica,sans-serif;
    font-size: 1.6rem;
}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 2.2rem;
}

h2,
h3,
h4,
a {
}

h1{
    color: green;
}

ul li {
    list-style-type: none;
}

h3 {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    
}

h1 a{
    color: green;
    font-size: 2.2rem;
}

.fake-link {
    text-decoration: underline;
    cursor: pointer;
}

.wrapper {
    position: relative;
    height: auto;
    margin: auto;
    width: 90%;
}

.structural {
    position: absolute;
    left: -9999px;
}

.clearfix:after {
    content: ".";
    content: "";
    display: block;
    display: table;
    visibility: hidden;
    clear: both;
    height: 0;
    line-height: 0;
}

.outer {
    display: table;
    z-index: 9002;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.middle {
    display: table-cell;
    z-index: 9003;
    vertical-align: middle;
    pointer-events: none;
}

.inner {
    z-index: 9004;
    margin-right: auto;
    margin-left: auto;
    pointer-events: auto;
}

/* =============== MODAL =============== */

.screen-overlay {
    display: block;
    display: none;
    z-index: 9001;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.screen-overlay.active {
    display: block;
}

.n-modal {
    display: none;
    background-color: #fff;
}

.n-modal .modal-close {
    position: absolute;
    top: 0.75rem;
    right: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    background: url(../img/icons/removeWhite.png);
    background-size: 2.5rem 2.5rem;
    cursor: pointer;
}

.n-modal .modal-close:hover {
    position: absolute;
    top: 0.75rem;
    right: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    background: url(../img/icons/removeGrey.png);
    background-size: 2.5rem 2.5rem;
}

.n-modal .modal-header {
    position: relative;
    width: 100%;
    height: 4rem;
    background-color: #6991ac;
}

.n-modal .modal-title {
    display: block;
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: normal;
    line-height: 4rem;
    color: #fff;
}

.n-modal .modal-content {
    padding: 1rem;
}

.n-modal select {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
}

.n-modal input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
}

.n-modal .l-form {
    box-sizing: border-box;
    margin-top: 1rem;
    padding: 1rem;
    border: 0.2rem solid;
    border-color: #f5f5f5;
}

.n-modal .n-button {
    display: block;
    width: auto;
    height: 2.5rem;
    margin: 0 auto;
    padding: 0 1rem 0 1rem !important;
    text-align: center;
    line-height: 2.5rem;
}

.ui-autocomplete {
    z-index: 90000;
    border: 0.2rem solid;
    border-color: #67727a;
    color: #67727a;
    background-color: #fff;
}

/* =============== HEADER =============== */

header {
    margin-top: 0.5rem;
    height: auto;
    margin: auto;
    width: 90%;
}

header * {
    font-family: 'Open Sans',Helvetica,sans-serif;
}

.header-bar {
    display: block;
    height: 0.5rem;
    background-color: #c3d7df;
}

#logo {
    float: left;
    width: 15.4rem;
    height: 13.4rem;
    margin-top: -2.6rem;
    overflow: hidden;
    text-indent: 100%;
    background-image: url('../img/Logo.jpg');
    background-position: 0 0;
    background-size: 14.4rem 14.4rem;
}

.clear{clear:both;}

/* Main Menu */

header .main-menu {
    float:left;
    padding-left: 0rem;
    margin-top: 3rem;

}

header ul.main-menu li {
    display: inline-block;
    position: relative;
    width: auto;
    height: 4.5rem;
    margin: 0;
    margin-right: 0;
    margin-left: 0;
    line-height: 4.5rem;
}

header ul.main-menu li:hover {
    background: #87d53a;
}

header ul.main-menu li:active {
    background-color: #67727a;
}

header ul.main-menu li.active {
    background-color: #87d53a;
}

header ul.main-menu li a {
    display: inline-block;
    width: auto;
    height: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 2rem;
    color: #008dd3;
}

header ul.main-menu li ul {
    display: none;
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 45px;
    left: 0;
    width: 150px;
    padding: 0;
    opacity: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transiton: opacity 0.2s;
    -transition: opacity 0.2s;
}

header ul.main-menu li ul li {
    display: block;
    color: white;
    background: #6991AC;
}

header ul.main-menu li:hover ul {
    display: block;
    visibility: visible;
    opacity: 1;
}

/* Side menu */

.side-menu {
    float: right;
    position: relative;
    width: auto;
    height: 100%;
    padding-left: 2rem;
    line-height: 4.5rem;
    color: #fff;
    margin-top: 3rem;
}

.side-menu:hover {
}

.side-menu:hover ul.settings-dropdown {
    display: block;
    z-index: 9001;
}



.side-menu span {
    display: inline-block;
    float: left;
    height: 4.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 2rem;
}

.side-menu div.settings-icon {
    display: inline-block;
    float: left;
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 0.5rem;
    line-height: 4.5rem;
    background-image: url(../img/icons/settingsWhite.png);
    background-position: 0.25rem 0.25rem;
    background-repeat: no-repeat;
    background-size: 3rem 3rem;
}

.side-menu .auth-link {
    padding-right: 1rem;
    padding-left: 1rem;
    border: 0.2rem solid #fff;
    color: #008dd3;
}

.side-menu .auth-link:hover {
    padding-right: 1rem;
    padding-left: 1rem;
    background: #87d53a;
}

/* Side menu -> settings */

ul.settings-dropdown {
    display: none;
    position: absolute;
    top: 4.5rem;
    right: 0;
    width: auto;
    border-bottom: 0.5rem solid;
    border-bottom-color: #c3d7df;
    overflow: visible;
}

ul.settings-dropdown li {
    color: #fff;
    background-color: #6991ac;
}

ul.settings-dropdown li a {
    display: inline-block;
    width: auto;
    height: 100%;
    padding-right: 3rem;
    padding-left: 2rem;
    white-space: nowrap;
    color: #fff;
}

ul.settings-dropdown li a:before {
    content: ".";
    display: inline-block;
    position: relative;
    top: -0.2rem;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #fff;
}

ul.settings-dropdown li:hover {
    background-color: #ec7603;
}

ul.settings-dropdown li:active {
    background-color: #67727a;
}

ul.settings-dropdown li a.logout:before {
    top: -0.2rem;
    width: 2rem;
    height: 2rem;
    background: url(../img/icons/logoutWhite.png);
}


/* =============== FOOTER =============== */

footer {
    background-color: #1b4371;
    color: #6d9ed5;
    padding: 45px 0;
    text-align: center;
    font-size: 13px;
}

footer > p {
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #fff;
}




/* =============== FORM =============== */

input[type="text"],
input[type="password"],
select{
    border:0.2rem solid #008dd3;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 22.5rem;
}

.button{
    cursor:pointer;
}

input[type="submit"], button[type="submit"]{
  border-radius: 5px;
  background-color: #008dd3;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  margin-left: auto;
  margin-right: 1rem;
  display: block;
  color:white;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

input[type="submit"]:hover, button[type="submit"]:hover{
  background: #87d53a;
  color:#008dd3;
}

.button{
  border: 2px outset buttonface;
  background-color: #008dd3;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: auto;
  margin-right: 1rem;
  color:white;
  float: left;
  margin-top: 1.3rem;
  margin-bottom: 2rem;
}

.button:hover{
  background: #87d53a;
  color:#008dd3;
}

#holaUsername{
        color: green;
    float: left;
    margin-right: 1rem;
}