fieldset{
	border:none;
	margin-left: 0rem;
    padding-left: 0rem;
}

.labels h2{
	float: left;
	margin-left: 1rem;
}

.labels h2:first-child{
	margin-right: 3.4rem;
}

input[type="text"]:first-child{
	margin-right: 4.6rem;
}

input[type="text"]{
	margin-left: 0%;
	width: 25rem;
}

.input {
    float: left;
	width: 100%;
}

.menu-right h1{
	margin-left: 18rem;
}    

#alert{
	margin-top: 0.5rem;
	display: inherit;
}

.menu-left {
    width: 20rem;
        max-width: inherit;
}

.menu-right {
    float: left;
    width: 60rem;
}

.group{
	float: left;
	margin-right: 5rem;
	margin-left: 1rem;
}