{# extend the parent tpl #}
{% extends 'admin/layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Admin — 404 (File Not Found)' %}

{% block pageContent %}
	<p>404</p>
{% endblock %}