{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Inventory' %}

{# Page specific css #}
{% block pageCss %}
	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/css/lijst.css" />
	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/css/massasignment.css" />
{% endblock %}
{% block pageContent %}
	{# Page specific content #}
	{% include  'menu.twig' %}
<div class="menu-right">
	<h1>Asignaciones por lote</h1>
	<form novalidate="novalidate" role="form">
		<fieldset>
			<div class="form-group">
				<div class="labels">
					<h2>Código de barras del propietario<h2>
					<h2>Número de serie de XO</h2>					
				</div>
				<div class="clear"></div>
				<div class="input">
					<input type="text" class="barcode" name="barcode" id="barcode" style="margin-right:4rem;" value="" placeholder="Código de barras...">
					<input type="text" class="serial" name="serial" id="serial" value="" placeholder="Número serie XO...">
					<p id="alert" name="error"></p>
					<div class="clear rows"></div>
				</div>
			</div>
			<div class="clear rows"></div>
			<a class="button" id="assignall" data="" role="button">Agregar</a>
			
		</fieldset>
	</form>
	
</div>
{% endblock %}
{% block pageScripts %}
<script src="{{ app.request.baseUrl }}/js/general.js"></script>
<script src="{{ app.request.baseUrl }}/js/massassignment.js"></script>
{% endblock %}
